@font-face {
  font-family: 'BookmanITCLtBTDemiItalic';
  src: url('../fonts/bookmndi-webfont.eot');
  src: url('../fonts/bookmndi-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bookmndi-webfont.woff') format('woff'),
       url('../fonts/bookmndi-webfont.ttf') format('truetype'),
       url('../fonts/bookmndi-webfont.svg#BookmanITCLtBTDemiItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSansExtraLight';
  src: url('../fonts/dejavusans-extralight-webfont.eot');
  src: url('../fonts/dejavusans-extralight-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/dejavusans-extralight-webfont.woff') format('woff'),
       url('../fonts/dejavusans-extralight-webfont.ttf') format('truetype'),
       url('../fonts/dejavusans-extralight-webfont.svg#DejaVuSansExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 90%;
/*  background: #056a96;
  background-repeat: no-repeat;*/
  background-color: #ecf1f4;
  border-top: 5px solid #ff6408;
}

h3 {
  margin-top: 0px;
  font-family: 'BookmanITCLtBTDemiItalic';
  font-size: 1.2em;
}

.iframeMap {
  border: 1px solid #ccc;
  float: right;
  width: 425px;
  margin-bottom: 50px;
  margin-right: 10px;
  padding: 0px 3px;
}

div.adresse {
  float: left;
  width: 395px;
  height: 385px;
  background-color: #EBF3F6;
  margin-right: 10px;
  padding: 20px;
  margin-bottom: 50px;
}

div.adresse hr {
  margin: 20px 0px;
  border: 1px dashed #444;
  padding: 0px;
}

div.agrandirCarte {
  text-align: right;
  font-weight: bold;
}

div.bg{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 650px;
  background: -moz-linear-gradient(top, #056a96 10%, #ecf1f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#056a96), color-stop( 100%,#ecf1f4));
  background: -webkit-linear-gradient(top, #056a96 10%,#ecf1f4  100%);
  background: -o-linear-gradient(top, #056a96 10%,#ecf1f4  100%);
  background: -ms-linear-gradient(top, #056a96 10%,#ecf1f4  100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#056a96', endColorstr='#ecf1f4',GradientType=0 );
  background: linear-gradient(top, #056a96 10%,#ecf1f4  100%);
  position:absolute;
  top:0;
  left:0;
}
iframe {
  seamless : seamless;
  border: 0px;
}
div.general {
  width: 960px;
  margin: auto;
  position: relative;
  z-index: 33;
}
div.bandeau {
  background: #0c1012;
  background: -moz-linear-gradient(top, #0c1012 10%, #03141b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#0c1012), color-stop(100%,#03141b));
  background: -webkit-linear-gradient(top, #0c1012 10%,#03141b 100%);
  background: -o-linear-gradient(top, #0c1012 10%,#03141b 100%);
  background: -ms-linear-gradient(top, #0c1012 10%,#03141b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c1012', endColorstr='#03141b',GradientType=0 );
  background: linear-gradient(top, #0c1012 10%,#03141b 100%);
  background-repeat: no-repeat;
  background-color: #03141b;
  opacity: 0.6;
  height: 50px;
}
ul.nav {
  position: absolute;
  top: -45px;
  left: 180px;
  overflow: hidden;
  list-style-type: none;
  width: 770px;
}
ul.nav li {
  float: left;
  margin-left: 25px;
  padding-left: 20px;
  background: url(../images/bouclier.png) no-repeat 0px -11px;
  font-size: 90%;
}
ul.nav li:first-child {
  margin-left: 0px;
}
ul.nav li:hover {
  background-position: 0px -24px;
}
ul.nav li:hover a {
  color: #FFF;
}
ul.nav li a {
  text-decoration: none;
  color: #81bad7;
  text-transform: uppercase;
}
.highlight, a {
  color: #ff7415;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
span.and {
  color: #101f24;
}

h1 {
  font-family: 'BookmanITCLtBTDemiItalic';
  font-size: 205%;
  font-weight: bold;
  border-bottom: 1px solid #D3D3D3;
  margin: 0;
  margin-bottom: 30px;
  padding: 16px 0;
}
h1 span.highlight{
  text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* top-left */
    1px 1px 1px rgba(255,255,255,0.2), /* bottom-right */
    1px 1px 1px rgba(0,0,0,0.7); /* shadow */
}
img.logo {
  position: absolute;
  top: -45px;
  left: 21px;
  display: none;
}
img.logoFixed {
  position: absolute;
  top: -45px;
  left: 21px;
}
div.title {
  padding: 10px 0 0 210px;
}
p.baseline {
  font-size: 294%;
  font-family: 'BookmanITCLtBTDemiItalic';
  color: #FFF;
  margin: 10px 0;
  text-shadow:-1px -1px 1px rgba(128,128,128,0.2), /* top-left */
    1px 1px 1px rgba(128,128,128,0.2), /* bottom-right */
    1px 1px 1px rgba(128,128,128,0.7); /* shadow */
}
p.baseline  span.highlight {
  text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* top-left */
    1px 1px 1px rgba(255,255,255,0.2), /* bottom-right */
    1px 1px 1px rgba(0,0,0,0.7); /* shadow */
}
p.conference {
  font-size: 119%;
  font-family: 'DejaVuSansExtraLight';
  color: #9adcf6;
  margin: 10px 0;
  text-shadow: 1px 1px 1px #0b6d92;
}
p.conference strong{
  color: #CaFFFF;
}
div.ascenseur {
  position: absolute;
  z-index: -2;
  height: 175px;
  width: 80px;
  top: -4px;
  opacity: 0.8;
  background: #03202B;
  background: -moz-linear-gradient(top, #03202B 0%, #3D8BAD 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#03202B), color-stop(100%,#3D8BAD));
  background: -webkit-linear-gradient(top, #03202B 0%,#3D8BAD 100%);
  background: -o-linear-gradient(top, #03202B 0%,#3D8BAD 100%);
  background: -ms-linear-gradient(top, #03202B 0%,#3D8BAD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03202B', endColorstr='#3D8BAD',GradientType=0);
  background: linear-gradient(top, #03202B 0%, #3D8BAD 100%);
}
div.ascenseur.left {
  left: 42px;
  -webkit-transform: rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
}
div.ascenseur.right {
  left: 100px;
  -webkit-transform: rotate(5deg);
  -moz-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
}
div.contenu {
  background-color: #FFF;
  padding: 0 30px 20px 30px;
  overflow: hidden;
  border: 5px solid #c9d6dc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  border-top: none;
  margin-top: 50px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

div.border {
  position: absolute;
  top: 133px;
  left: 0px;
  width: 100%;
  height: 20px;
  overflow: hidden;
}
div.border div {
  height: 20px;
  background-color: #FFF;
  border-top: 5px solid #c9d6dc;
}
div.border div.one {
  float: left;
  width: 50px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border-left: 5px solid #c9d6dc;
}
div.border div.two, div.border div.three {
  position: absolute;
  top: 8px;
  width: 63px;
}
div.border div.two {
  left: 50px;
  -webkit-transform: rotate(15deg);
  -moz-transform:rotate(15deg);
  -o-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
}
div.border div.three {
  left: 110px;
  -webkit-transform: rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -o-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
}
div.border div.four {
  float: right;
  width: 787px;
  border-right: 5px solid #c9d6dc;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
div.gauche {
  width: 581px;
  margin-right: 29px;
  float: left;
}
div.gauche em {
  color: #e94d24;
  font-style: normal;
}
div.gauche p {
  line-height: 1.4em;
  text-align: justify;
}

div.gauche.speakers{
    width: 650px;
}

div.gauche.full{
    width: 100%;
}

div.speaker{
    width:100%;
}

div.droite {
  float: right;
  background-color: #ebf3f6;
  padding: 20px;
  padding-top: 0px;
  width: 240px;
/*  font-style: italic;*/
/*  font-size: 88%;*/
  text-align: center;
  color: #565656;
  margin-bottom: 20px;
}
div.droite h2 {
  font-family: 'BookmanITCLtBTDemiItalic';
  font-style: normal;
  color: #158bbb;
  font-size: 182%;
  font-weight: normal;
/*  margin: 0;*/
  padding: 0px 0px 12px 0px;
  border-bottom: 1px solid #D3D3D3;
/*  margin-bottom: 30px;*/
}
div.droite p {
  line-height: 22px;
  font-size: 115%;
}
div.droite strong {
  color: #0d96ca;
}
div.droite a {
  font-size: 125%;
}

div.droite.partners {
  float: right;
  background-color: #ffffff;
  padding: 20px;
  padding-top: 0px;
  width: 160px;
  font-style: italic;
  font-size: 88%;
  text-align: center;
  color: #565656;
  border: 2px solid #CBD3D6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 50px;
}

a img {
  border: none;
}
div.calque {
  position: absolute;
  z-index: -8;
  opacity: 0.1;
}
div.calque > div {
  width: 100%;
  height: 100%;
  z-index: -10;
  background-repeat: no-repeat;
}
div.calque.grappe {
  top: -90px;
  right: -150px;
  height: 455px;
  width: 400px;
}
div.calque.soleil {
  top: 40px;
  right: 60px;
  height: 256px;
  width: 256px;
}
div.calque.grappe > div {
  background: url(../images/grappe.png);
}
div.calque.soleil > div {
  background: url(../images/soleil.png);
}
div.calque.soleilJaune {
  top: 40px;
  right: 60px;
  height: 256px;
  width: 256px;
}
div.calque.soleilJaune > div {
  background: url(../images/soleilJaune.png);
  transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}
img.drapeau {
  position: absolute;
  right: 20px;
  top: 5px;
}
div.hofMember{
    border: 2px solid #CBD3D6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 25px;
    overflow: hidden;
	background-color: #EBF3F6;
	width: 650px;
}
img.hofAvatar{
    padding: 3px;
    float: left;
	width: 150px;
}
.noStyle{
    padding: 0px;
    margin: 0px;
}
div.hofBio{
  width: 484px;
  margin:5px;
  float: left;
}
div.hofBio p{
  text-align: justify;
}
div.hofBio span.tags{
  float:right;
}

div.hofBio span.tags img{
  margin-left: 3px;
}

div.hofTopic{
    width: 654px;
    padding: 5px 5px 5px 0px;
    margin: 0px;
    margin-top: -3px;
}
blockquote {
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    border :1px solid #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #FDFDFD;
    font-style: italic;
    text-align: justify;
}
.topic{
	font-style: normal;
	font-weight: normal;
    font-size: 100%;
}
cite{
    display: block;
    text-align: right;
    font-style: normal;
}

.arrow_border{
  width:0;
  height:0;
  line-height:0;
  border-right:9px solid transparent;
  border-left:9px solid transparent; /* couleur de la bordure de la bulle */
  border-bottom:9px solid #999999;
  position:relative;
  top:-8px;
  left:55px;
}
.arrow_inner{
  width:0;
  height:0;
  line-height:0;
  border-right:9px solid transparent;
  border-left:9px solid transparent; /* couleur du fond de la bulle */
  border-bottom:9px solid #FDFDFD;
  position:relative;
  top:-7px;
  left:37px;
}
/*
body.home ul.nav li:first-child a, body.speakers ul.nav li:nth-child(3) a, body.about ul.nav li:nth-child(2) a, body.schedule ul.nav li:nth-child(4) a, body.venue ul.nav li:nth-child(5) a{
  color: #ff5b02;
}
body.home ul.nav li:first-child, body.speakers ul.nav li:nth-child(3), body.about ul.nav li:nth-child(2), body.schedule ul.nav li:nth-child(4), body.venue ul.nav li:nth-child(5){
  background-position: 0px 2px;
}
*/
/** NEW VERSION **/
body.home ul.nav li:first-child a, body.schedule ul.nav li:nth-child(2) a, body.speakers ul.nav li:nth-child(3) a, body.venue ul.nav li:nth-child(4) a, body.about ul.nav li:nth-child(5) a{
  color: #ff5b02;
}
body.home ul.nav li:first-child, body.schedule ul.nav li:nth-child(2), body.speakers ul.nav li:nth-child(3), body.venue ul.nav li:nth-child(4), body.about ul.nav li:nth-child(5){
  background-position: 0px 2px;
}
/** NEW VERSION **/

div.partners{
  background-color: #FFF;
  border: 5px solid #c9d6dc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  padding: 20px 10px 20px 10px;
}

div.partners span.partnersTitle{
  border: 5px solid #c9d6dc;
  border-bottom: none;
  background-color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  margin-top: -46px;
  left: -15px;
  padding: 5px;
  z-index: 666;
}

div.partners span.partnersTitle a.partnersTitle:hover{
    color: #0D96CA;
}

div.partners img{
    padding: 3px;
    display: inline-block;
}

div.droite.partners span.partnersTitle{
  border: 2px solid #c9d6dc;
  background-color: #FFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-bottom: none;
  float: left;
  margin-top: -28px;
  margin-left: -22px;
  padding: 5px;
  z-index: 666;
}

span.partnersTitle a.partnersTitle{
  font-family: arial;
  font-size: 110%;
  font-weight: bold;
  font-style: normal;
}

div.droite.partners img{
    padding: 3px;
    display: block;
}

a.speakerAnchor{
    font-weight: bold;
    cursor: pointer;
    font-size: 92%;
    text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* top-left */
        1px 1px 1px rgba(255,255,255,0.2), /* bottom-right */
        1px 1px 1px rgba(0,0,0,0.5); /* shadow */
}

span.tagHeader{
    margin-right: 15px;
    cursor: pointer;
}
span.tagHeader.selected{
    padding-bottom: 3px;
    border-bottom: 1px double #ff7415;
}
span.tagHeader img{
    vertical-align: middle;
}

#all{
    font-weight: bold;
}

a.partnerLink{
    margin: 5px;
}

a.partnerLink img{
    padding: 0px;
}

div.leftJs{
	float: left;
	clear: both;
	margin-bottom: 20px;
	width:100%;
}

img.leftJs{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

img.yourLogoHere{
    border: 2px dashed #c9d6dc;
}

ul.partnersList{
	list-style-type: none;
	padding: 0px;
	margin: 5px;
	margin-bottom: 25px;
	text-align: center;
	width: 100%;
}

ul.partnersList li.partnerThumb_150{
	display: inline-block;
	border: 1px solid #CCCCCC;
	background-color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 170px;
	height: 170px;
	padding: 5px;
	margin: 2px;
	margin-top: 15px;
	line-height: 190px;
	vertical-align: middle;
	text-align: center;
	-moz-box-shadow: 0 0 3px #056a96;
	-webkit-box-shadow: 0 0 3px#056a96;
	box-shadow: 0 0 3px #056a96; /*#FF7415;*/
}

ul.partnersList li.partnerThumb_100{
	display: inline-block;
	border: 1px solid #CCCCCC;
	background-color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 110px;
	height: 110px;
	padding: 5px;
	line-height: 130px;
	vertical-align: middle;
	text-align: center;
	-moz-box-shadow: 0 0 3px #AAA;
	-webkit-box-shadow: 0 0 3px#AAA;
	box-shadow: 0 0 3px #AAA;
}

ul.partnersList li.partnerThumb_80{
	display: inline-block;
	border: 1px solid #CCCCCC;
	background-color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 90px;
	height: 90px;
	padding: 5px;
	line-height: 100px;
	vertical-align: middle;
	text-align: center;
	-moz-box-shadow: 0 0 3px #AAA;
	-webkit-box-shadow: 0 0 3px#AAA;
	box-shadow: 0 0 3px #AAA;
}

h2.partners {
    font-family: 'BookmanITCLtBTDemiItalic';
    font-size: 1.4em;
}

div.addthis_toolbox.addthis_default_style.addthis_32x32_style{
	margin-top: 15px;
	margin-bottom: 15px;
	float: right;
}

div.addthis_toolbox.addthis_default_style.topPosition{
	margin-top: 0px;
	margin-bottom: 25px;
	float: none;
}

div.droite a.droiteLink{
	font-size: 100%;
	font-weight: bold;
}

div.speakersThumbnail{
    width: 80px;
    height: 80px;
    text-align: center;
    background-image: url(../images/postit.png);
    float: left;
    margin: 5px;
    font-size: 56%;
}

div#speakersThumbnail{
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
}

div.blocDaySchedule {
  float: left;
  width: 140px;
  background: #ebf3f6;
  -webkit-border-radius: 12px 0px 12px 0px;
  -moz-border-radius: 12px 0px 12px 0px;
  border-radius: 12px 0px 12px 0px;
  border: 1px solid #056a96;
}

div.blocDaySchedule .time {
  width: 140px;
  border-top: 1px solid #056a96;
  font-family: 'Arial';
  font-size: 1.4em;
  text-align: center;
  padding: 34px 0px;
  height: 22px;
}

div.blocDaySchedule .lunch {
  background: #ffa415;
}

div.blocDaySchedule .break {
  background: #FFFF66;
}

div.blocDaySchedule .party {
  background: #ffa415;
  -webkit-border-radius: 0px 0px 12px 0px;
  -moz-border-radius: 0px 0px 12px 0px;
  border-radius: 0px 0px 12px 0px;
}


div.blocDaySchedule .day {
    height: 28px;
}

div.blocDaySchedule .day h2 {
    font-family: 'Arial';
    font-size: 100%;
    text-align: center;
    color: #222;
}

div.blocDayScheduleDetails {
  float: left;
  width: 438px;
/*  height: 935px;*/
  margin-top: 40px;
}

div.blocDayScheduleDetails .avatar {
  float: left;
  width: 58px;
  height: 69px;
  margin-left: 10px;
  margin-top: 9px;
  -webkit-border-radius: 12px 0px 12px 0px;
  -moz-border-radius: 12px 0px 12px 0px;
  border-radius: 12px 0px 12px 0px;
  display: block;
}

div.blocDayScheduleDetails div.titre {
  font-weight: bold;
  margin-left: 80px;
  margin-top: 6px;
  font-size: 125%;
}

div.blocDayScheduleDetails div.titre h2.noStyle{
    font-size: 100%;
}

div.blocDayScheduleDetails div.description {
  margin-left: 12px;
  text-align: justify;
  float: left;
  width: 358px;
  font-size: 75%;
  padding-top: 12px;
}

div.blocDayScheduleDetails div.duration {
  float: right;
  width: 290px;
  font-size: 75%;
  text-align: right;
}

div.detail {
  border-top: 1px dashed #ccc;
  height: 90px;
}

div.separator {
  float: left;
  height: 15px;
  width: 100%;
  clear: both;
  margin-bottom: 15px;
}

/****************************************** DIAPORAMA *****************************************************/

#diaporamaNode {
    width: 580px;
    overflow: hidden;
}

.diaporama {
    position: relative;
    width: 10000px;
}

.diaporama .slide {
    float: left;
    position: relative;
    width: 580px;
    height: 260px;
}

.diaporama .commentaire{
    width: 100%;
    height: 90px;
    position: relative;
    top: 200px;
    background:url(../images/blank.png);
}

.diaporama .commentaire p {
    padding: 10px;
    color: #FFF;
    font-size: 113%;
    font-weight: bold;
}

.diaporamaBoutons {
    bottom: 30px;
    left: 490px;
    position: relative;
}

.diaporamaBoutons .bouton{
    background: #78932C;
    width: 12px;
    height: 12px;
    float: left;
    margin: 3px;
    border: 1px solid #444;
    cursor: pointer;
}

.diaporamaBoutons .bouton:hover{
    background: #B4E825;
    border: 1px solid #000;
}

.diaporamaBoutons .current{
    background: #B4E825;
    border: 1px solid #000;
}

h3.noStyle.topic {
  font-family: 'Arial';
  font-size: 138%;
  font-weight: normal;
}

/* Mobiles by @fetard */
@media (max-width: 1000px),handheld, only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
    div.bandeau {
	  height:230px;
	}
	ul.nav {
	  font-size: 400%;
	  font-weight:bold;
	  left: 0;
	  margin: 0;
	  overflow: hidden;
	  top: -225px;
	  width:auto;
	  padding:0 5px;
	}
	ul.nav li {
	  margin-left:5px;
	}
	ul.nav li:first-child {
	  margin-left: 5px;
	}
	#diaporamaNode,.addthis_toolbox ,.diaporamaBoutons {
	  display:none;
	}
	div.droite {
	  font-size:200%;
	}
	div.droite p {
	  line-height:120%;
	}
	div.title,div.border{
	  display:none;
	}
	.home .droite .droiteLink img {
	  width:100%;
	}
	div.contenu {
	  margin-top:10px;
	}
	div.contenu .gauche p {
	  font-size:150%;
	  margin:0;
	}
	div.contenu .gauche h1 {
	  margin-bottom:0;
	}
	#logo {
	  display:none;
	}
	.venue .gauche .iframeMap {
	  display:none;
	}
	.venue div.adresse {
	  height:auto;
	  width:100%;
	}
	.venue div.adresse p{
	  font-size:1em;
	}
	.venue div.adresse .agrandirCarte{
	  font-size:300%;
	}
}